@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@300&display=swap');

body {
    margin: 20px;
    font-family: system-ui;
    background-image: url(https://files.scpfoundation.net/local--files/theme:classic/classic_body_bg.png);
    background-repeat-y: no-repeat;
}
.text-header {
    color: white;
    font-size: 160%;
    font-variant-caps: petite-caps;
    font-weight: 600;
    filter: drop-shadow(0px 4px 2px black);
}
.header-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.text-header1 {
    font-family: monospace;
    font-weight: bold;
    color: white;
    font-size: large;
    filter: drop-shadow(0px 4px 2px black);
}
.logo-header {
    width: 100px;
    margin: 1em;
}
.header {
    padding: 1px 15px;
    max-width: 800px;
    margin: auto;
    filter: drop-shadow(0px 2px 9px black);
    height: 130px;
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
h1 {
    color: #424242;
    padding: 0 0 0.25em;
    margin: 0 0 0.6em;
    font-weight: normal;
    border-bottom: 1px solid #bbb;
}
.box {
    border: solid 1px #888880;
    border-radius: 10px;
    margin: 10px 0 15px;
    padding: 1em;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .5), inset 0 1px rgba(255, 255, 255, .3), inset 0 10px rgba(255, 255, 255, .2), inset 0 10px 20px rgba(255, 255, 255, .25), inset 0 -15px 30px rgba(0, 0, 0, .1);
}
.hub {
    text-align: center;
    color: #00aba8;
    font-size: 160%;
    font-weight: bolder;
}
a {
    text-decoration: none;
    color: crimson;
}
a:hover {
    text-decoration: underline;
    color: crimson;
}
a:active {
    text-decoration: underline;
    filter: drop-shadow(1px 1px 10px grey);
    color: #a5001f;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: transparent;
    border-color: #444;
    display: flex;
    border-width: 0 0 5px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;
}

.tab button {
  background: linear-gradient(0deg, #d1d1d1, transparent);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.25em 0.75em;
  margin: 0px 3px 0 0;
  border: solid 1px #a3a3a3;
  border-radius: 3px 3px 0 0;
  border-bottom: 0;
  white-space: nowrap;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
    background: #00817e;
    color: white;
    font-weight: bolder;
    border: 1px #243356 solid;
    padding: 0.35em 0.75em;
}
.tabcontent {
    display: none;
    border: 1px solid #808080;
    padding: 0.25em 0.5em;
    background-color: #f5f5f5;
    border-top: none;
}
.pink {
    color: white;
    background: magenta;
    font-weight: bolder;
    padding: 0.2em 1em;
    margin: 0em 1em 0 0;
    border: 1px solid black;
}
.code {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.apcs-container {
    border: 1px solid #ccc;
    background: white;
    color: black;
    padding-bottom: 30px;
    font-family: Oswald, sans-serif;
    position: relative;
}
.apcs-main-content {
    padding: 0 28px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    margin: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.apcs-header {
    width: 206px;
    margin-right: 50px;
    padding-top: 14px;
}
.apcs-text-lines {
    font-size: 15px;
    line-height: 21px;
    margin-top: 26px;
    min-height: 64px;
    max-width: none !important;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}
.apcs-txt {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 36px;
    line-height: 36px;
}
.apcs-hazards {
    display: flex;
    align-items: center;
    height: 90px;
    margin: auto;
    justify-content: center;
}
.apcs-hazard {
    width: 65px;
    height: 65px;
    margin: 2px;
    position: relative;
}
.apcs-class {
    background: #FF1493;
    width: 100px;
    height: 90px;
    display: flex;
    justify-content: center;
    font-size: 64px;
    line-height: 0;
    flex-shrink: 0;
    color: white;
    position: absolute;
    top: 15px;
    right: 10px;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
.apcs-info {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 30px;
    display: flex;
    align-items: stretch;
    background: var(--apcs-info-bg-color);
    color: var(--apcs-info-fg-color);
    clip-path: polygon(30px 0, 100% 0, 100% 100%, 0 100%);
    font-size: 90%;
    line-height: 18px;
    pointer-events: none;
    max-width: 100%;
    white-space: nowrap;
    font-family: monospace;
}
.apcs-info-activation {
    width: 75px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e7e7e7;
}
.apcs-info-risk {
    clip-path: polygon(30px 0, 100% 0, calc(100% - 30px) 100%, 0 100%);
    padding: 0 30px;
    margin-left: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    position: relative;
    color: black;
    background: #ffc000;
}
.apcs-info-vedist {
    background: #505052;
    clip-path: polygon(30px 0, 100% 0, calc(100% - 30px) 100%, 0 100%);
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 110px;
    margin-left: -31px;
    position: relative;
}
.apcs-info-number {
    width: 200px;
    padding-left: 15px;
    margin-left: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e7e7e7;
}
.rimg {
    float: right;
    border: solid 1px #666;
    text-align: center;
    font-size: 8pt;
    font-weight: bold;
    background: #EEE;
    margin: 10px auto 5px 8px;
    box-shadow: 0 1px 6px rgba(0,0,0,.25);
    width: 30%;
}
.quote {
    border: 1px dashed #999;
    padding: 0.5em 1em;
    background-color: #f4f4f4;
    margin: 0 1em;
    font-style: italic;
}
