body {
  margin: 1em;
  color: white;
  background-blend-mode: hard-light;
  background: black;
  font-family: system-ui;
  background-image: url(https://media1.giphy.com/media/26xBFB9pA6Rjv2s7u/giphy.gif?cid=ecf05e47bunxllg4g80bmf19mh443n2u3ecszfe8i6dz55v2&rid=giphy.gif&ct=g);
  background-size: 130%;
  background-position-y: center;

}
.XXX {
    max-width: 90%;
    margin: auto;
    font-family: monospace;
    text-shadow: -2px -1px 1px black;
    filter: drop-shadow(1px 1px 1px purple);
    font-weight: bolder;
}