body {
    margin: 20px;
    font-family: system-ui;
    background: antiquewhite;
}
::selection {
    background: darkblue;
    color: white !important;
}
h1 {
    border-bottom: 2px solid;
    font-family: initial;
    font-weight: 100;
}
.header {
    height: max-content;
    background: url(https://upload.wikimedia.org/wikipedia/commons/4/4d/Woodland_EMR_camo_of_the_Russian_Armed_Forces.png);
    margin: -20px -20px 0;
    padding: 20px 20px 10px;
    border-bottom: 20px solid silver;
    background-attachment: fixed;
}
.main-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.sub-head {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.text-holder-1 {
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.text-1 {
    font-family: initial;
    color: gold;
    text-shadow: 1px 1px 1px #957d00;
    font-size: 140%;
    filter: drop-shadow(2px 2px 1px grey);
}
.text-2 {
    font-family: initial;
    color: silver;
    text-shadow: 1px 1px 1px #363636;
}
.text-holder-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 20em;
    flex-direction: row;
}
.text-3 {
    font-size: 150%;
    font-family: initial;
    text-align: center;
    color: silver;
    text-shadow: 2px 2px 3px black;
}
.head-logo {
    width: 150px;
}