@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {
  margin: 0px;
  font-family: system-ui;
  background-image: url(https://i.ibb.co/MD1MCzg/menuwhite.jpg);
}
.body {
    background: linear-gradient(180deg, transparent 0%, #ffffff 10em);
    position: fixed;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    top: 0;
    display: block;
    z-index: -5;
}
main {
    max-width: 900px;
    color: black;
    background: white;
    margin: 2em auto;
    padding: 1em;
}
header {
    max-width: 800px;
    margin: 2em auto 1em auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}
.logo {
    width: 120px;
}
.text-holder {
    margin: 0 1em;
}
.text1 {
    font-size: xxx-large;
    font-weight: bold;
    font-family: 'Comfortaa', sans-serif;
}
.text2 {
    font-style: italic;
    font-size: smaller;
}
h1 {
    color: orangered;
    padding: 0 0 0.25em;
    margin: 0 0 0.6em;
    font-weight: normal;
    border-bottom: 1px solid #bbb;
}
h2 {
    margin-top: 0.7em;
    padding: 0;
    font-weight: bold;
    color: orangered;
}
.h {
    text-align: center;
    font-size: large;
    font-style: italic;
    margin-bottom: 1em;
}
.b {
    font-size: x-large;
    font-family: revert;
    font-weight: 500;
}
.s {
    font-size: x-large;
    text-align: center;
}
.box {
    border: solid 1px #888880;
    border-radius: 10px;
    margin: 10px 0 15px;
    padding: 1em;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .5), inset 0 1px rgba(255, 255, 255, .3), inset 0 10px rgba(255, 255, 255, .2), inset 0 10px 20px rgba(255, 255, 255, .25), inset 0 -15px 30px rgba(0, 0, 0, .1);
}
.hub {
    text-align: center;
    color: #00aba8;
    font-size: 160%;
    font-weight: bolder;
}
a {
    text-decoration: none;
    color: orange;
}
a:hover {
    text-decoration: underline;
    color: orange;
}
a:active {
    text-decoration: underline;
    filter: drop-shadow(1px 1px 1px grey);
    color: orangered;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: transparent;
    border-color: #444;
    display: flex;
    border-width: 0 0 5px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;
}

.tab button {
  background: linear-gradient(0deg, #d1d1d1, transparent);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.25em 0.75em;
  margin: 0px 3px 0 0;
  border: solid 1px #a3a3a3;
  border-radius: 3px 3px 0 0;
  border-bottom: 0;
  white-space: nowrap;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
    background: #00817e;
    color: white;
    font-weight: bolder;
    border: 1px #243356 solid;
    padding: 0.35em 0.75em;
}
.tabcontent {
    display: none;
    border: 1px solid #808080;
    padding: 0.25em 0.5em;
    background-color: #f5f5f5;
    border-top: none;
}
.map {
    float: right;
    width: 40%;
    border: 1px solid;
    background: lightgrey;
    color: black;
    font-family: monospace;
    text-align: center;
}
.scp-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}